@rendermode InteractiveServer

<RadzenStack>
    <ul class="chat-list">
        @foreach (var chat in chats)
        {
            <li class="chat-list-item @(selectedItem == chat ? "selected" : "")" @onclick="() => selectedItem = chat">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween"
                    AlignItems="AlignItems.Center">
                    <RadzenGravatar class="chat-list-item-avatar" Email="@chat.Name" Size="40" />
                    <RadzenText class="chat-list-item-text">@chat.Name</RadzenText>
                    <RadzenText class="chat-list-item-date" TextStyle="TextStyle.Caption"
                        Text="@chat.LastMessage.Date.ToShortDateString()" />
                </RadzenStack>
            </li>
        }
    </ul>
</RadzenStack>

<style>
    .chat-list {
        list-style-type: none;
        padding: 0;
        height: 100%;
        overflow-y: auto;
    }

    .chat-list-item {
        display: flex;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.3rem;
        height: 3rem;
    }

    .chat-list-item:hover {
        background-color: rgb(230, 230, 230);
    }

    .chat-list-item.selected {
        background-color: rgb(230, 230, 230);
    }

    .chat-list-item .chat-list-item-avatar {
        height: 2rem;
        width: 2rem;
    }

    .chat-list-item .chat-list-item-text {
        margin-left: 0.3rem;
        width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.8rem;
    }

    .chat-list-item .chat-list-item-date {
        font-size: 10px;
        color: gray;
    }
</style>

@code {
    private List<Chat> chats = new List<Chat>();
    private Chat selectedItem;

    protected override void OnInitialized()
    {
        chats.Add(new Chat
            {
                Name = "Registro depaciente",
                LastMessage = new Message { Text = "Hello!", Date = DateTime.Now }
            });
        chats.Add(new Chat
            {
                Name = "Consulta de paciente",
                LastMessage = new Message
                {
                    Text = "How can I help you?",
                    Date =
            DateTime.Now
                }
            });
    }

    public class Chat
    {
        public Guid Id { get; set; } = Guid.NewGuid();
        public string Name { get; set; } = string.Empty;
        public Message LastMessage { get; set; } = new Message();
    }

    public class Message
    {
        public string Text { get; set; } = string.Empty;
        public DateTime Date { get; set; }
    }
}